body{
  background: rgb(22, 22, 22);
}
.nav-flex{
  display: flex;
  justify-content: space-between;
}
.foodmenu-intro{
 background:linear-gradient( rgba(0,0,0,0.4),rgba(0,0,0,0.4) ),url(../images/page2bg.jpg);
 background-repeat: no-repeat;
 background-attachment: scroll;
 background-size: cover;
 color: white;
}
.menu-desription{
  padding: 12%;
}
.menu-desription h2{
  text-align: center;
  font-size: 50px;
}
.menu-desription p{
  text-align: center;
  font-size: 20px;
}
.available-pizzas{
  padding: 80px 150px;
  background-color:rgb(22, 22, 22) ;
}
#pizza-images{
  width: 50vh;
}
.pizza-description{
  padding:  10px 50px;
  color: white;
}
.order-now{
  color: #FD9D3E;
  font-weight: bolder;
  font-size: 20px;
  padding: 0 -10px;
  border-bottom: solid 3px #FD9D3E;
  width: 40%;
  margin-left: 30%;
}
.order-now:hover{
  color: aliceblue;
  border-bottom: solid 3px aliceblue;
}
#place-order{
  background: aqua;
  height: 45px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
}
#place-order:hover{
  background: green;
  color: white;
}
#add-another{
  display: none;
  background: aqua;
  height: 45px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
}
#add-another:hover{
  background: green;
  color: white;
}
.order-area{
  background-color: rgb(22, 22, 22);
}
.order-table{
  color: white;
  display: none;
}
#table-head{
  color: white;
}
#ordered-pizzas{
  color: white;
}
.show-check-out{
  display: none;
}