body{
  background: rgb(22, 22, 22);
}
.foodmenu-intro{
 background:linear-gradient( rgba(0,0,0,0.4),rgba(0,0,0,0.4) ),url(../images/page2bg.jpg);
 background-repeat: no-repeat;
 background-attachment: scroll;
 background-size: cover;
 color: white;
}
